*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 20%;
    background-color: aquamarine;
}

nav{
    width: 100%;
    height: 30%;
    background-color: blueviolet;
}

ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
}

ul li{
    justify-content: space-around;
    background-color: bisque;

}